$blueMain: #003566;
$yellowMain: #ffc300;
$white: #ffffff;

font-face{
    font-family: Montserrat;
    src: url('./');
}
* {
  padding: 0;
  margin: 0;
}
.d-flex_jc-c_ai-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
